[submodule "ltx_video"]
	path = ltx_video
	url = git@github.com:Lightricks/LTX-Video.git
[submodule "diffusion-forcing"]
	path = diffusion-forcing
	url = https://github.com/buoyancy99/diffusion-forcing.git
[submodule "scaling-noise"]
	path = scaling-noise
	url = https://github.com/yanghlll/ScalingNoise.git
[submodule "GeometryForcing"]
	path = GeometryForcing
	url = https://github.com/CIntellifusion/GeometryForcing
[submodule "external/cosmos-predict2.5"]
	path = external/cosmos-predict2.5
	url = https://github.com/nvidia-cosmos/cosmos-predict2.5.git
[submodule "Wan2.1"]
	path = Wan2.1
	url = https://github.com/Wan-Video/Wan2.1.git
[submodule "Open-Sora"]
	path = Open-Sora
	url = https://github.com/hpcaitech/Open-Sora
[submodule "CogVideo"]
	path = CogVideo
	url = https://github.com/zai-org/CogVideo.git
